<%= form_tag({controller: 'imports', action: 'upload'}, multipart: true) do %>
  <div style="display:inline-flex">
    <%= file_field :doc, :files, multiple: true %>
    <%= submit_tag "インポート" %>
  </div>
<% end %>

<% if false %>
    <%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>
<% end %>
