<footer class="footer">
  <small>
    Copyright(c) 2016 Neotec Corp. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>